version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:5000"
    environment:
      - FLASK_SECRET_KEY=${FLASK_SECRET_KEY}
      - GROQ_API_KEY=${GROQ_API_KEY}
      # Add other environment variables here
    restart: always
